#rightContent{
    margin-right: 65px;
    margin-bottom: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#topGreen{
    height: 940px;
    background-color: #535B50;
}

#border{
    border: 5px solid #b5b9a2;
    margin: 0px 65px 80px 65px;
    height: 780px;
    width: 1150px;
}

#whiteBG{
    display: flex;
    flex-direction: row;
    background-color: #fcfaf2;
    margin: 15px 25px 15px 25px;
    max-height: 750px;
    max-width: 1100px;
}

#whiteBG p{
    font-family: 'Gabarito', cursive;
    font-size: 20px;
    width: 445px;
    margin-top: 254px;
    margin-left: 65px;
}

#whiteBGBtn{
    font-family: 'Gabarito', cursive;
    font-size: 20px;
    border-radius: 8px;
    margin-left: 212px;
    margin-top: 30px;
    height: 50px;
    width: 150px;
    background-color: #708c98;
    color: #fcfaf2;
    border: none;
    cursor: pointer;
}

#whiteBGBtn label{
    display: block;
    cursor: pointer;
}

#mainText{
    order: 1;
    text-align: justify;
}

#mainImage{
    order: 2;
}

#mainImage img{
    height: 600px;
    width: 600px;
    margin-top: 110px;
}

#middle{
    height: 500px;
}

#content{
    background-color: #535B50;
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 80px;
}

.contentBox{
    position: relative;
}

.contentBox div{
    margin-top: 33%;
}

.contentBox label{
    display: block;
    text-align: center;
    color: #fcfaf2;
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
}

.contentBox p{
    color: #fcfaf2;
    font-family: 'Gabarito', cursive;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

.contentBox:nth-child(odd){
    height: 500px;
    width: 500px;
    margin: 80px auto 0px 80px;
}

.contentBox:nth-child(even){
    height: 500px;
    width: 500px;
    margin: 80px 80px 0px auto;
}

.contentBox img{
    box-shadow: 5px 5px 10px black;
}